.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.login-image {
    max-width: 100px; /* Adjust the size as needed */
    margin-bottom: 20px;
}
