.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px;
}

.Form {
    max-width: 800px;
    width: 100%;
    margin-top: 30px;
}

.button {
    margin-left: auto;
}
